/* h1 and top nav styling for responsive design 
banner heading and nav on same line*/
#banner h1 {
  float: left;
  margin: 0;
  font-size: 32px;
}
#top-nav {
  float: right;
  margin-top: 10px;
}



